@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: url('./img/background.jpg') no-repeat;
    background-size: 100% 100vh;
    color: white;
    overflow-y: hidden;
}

#nave{
    width: 60px;
    height: 60px;
    position: absolute;
    image-rendering: pixelated;

}

.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50%;
    left: 50%;
    width: 720;
    height: 621;
    display: none;
}

#medidorPlaneta{
    border: 2px solid #FFF;
    width: 300px;
    height: 20px;
    background-color: rgba(0, 0, 0, .5);
}

#barraPlaneta{
    width: 300px;
    height: 20px;
    background-color: cyan;
}

.tiroJog{
    width: 6px;
    height: 6px;
    background-color: chartreuse;
    border-radius: 6px;
    position: absolute;
}

.alien{
    width: 70px;
    height: 70px;
    background: url('./img/alien_min.gif') center;
    background-size: contain;
    image-rendering: pixelated;
    position: absolute;
}